---
import Header from "../components/Header.astro"; 
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";
--- 
 
<html>  
    <Head title="Communication" /> 
    <body>  
        <Header /> 
        <main> 
            <!-- Section Home -->
            <section id="Fundaments" class="p-4 bg-[#1A1A1A]">
              <div class="flex justify-between items-center mb-8">
                <div class="w-1/2"> 
                  <p class="font-koulen text-7xl text-white mt-6">¿Que es la comunicacion efectiva?</p>
                  <p class="font-roboto text-4xl mt-8 text-white">Es el proceso de intercambiar información, ideas y sentimientos de manera clara y comprensible, de tal forma que el mensaje transmitido sea recibido y comprendido tal como se pretende.</p>
                </div>
                <div class="w-1/2 flex justify-end mt-20 mr-20">
                  <img src="./public/communication.png" alt="Image brain" class="object-cover rounded-md"  style="height: 600px; width: 400px;"/>
                </div>
              </div>  
            </section>  
             
            <!-- Section Communication -->
        </main>
    </body>
</html>