---
import Header from "../components/Header.astro"; 
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro"; 
import Techniques from "../components/Techniques.astro"; 
import Home from "../components/Home.astro";
--- 
 
<html>  
    <Head title="Communication" /> 
    <body>  
        <Header /> 
        <main> 
            <!-- Section Home --> 
             <Home title="¿Que es la comunicacion efectiva?", description="Es el proceso de intercambiar información, ideas y sentimientos de manera clara y comprensible, de tal forma que el mensaje transmitido sea recibido y comprendido tal como se pretende.", src="communication.png" />

             
            <!-- Section Communication 1 -->  
            <section class="p-4 bg-[#2A2A2A]">
                <div class="text-center mb-8">
                  <h2 class="text-6xl font-koulen text-white mt-10">IDEAS Y ESTRATEGIAS DE LA COMUNICACION EFECTIVA</h2>
                </div> 
            
                <div class="flex justify-between items-center mb-8">
                  <div class="w-1/2 ml-20">
                    <img src="c1.png" alt="Communication" class="object-cover rounded-md" style="height: 700px; width: 500px;" />
                  </div> 
                  <div class="w-1/2 flex flex-col justify-center">
                    <Techniques subtitle="Claridad y Concisión" description="Evita la ambigüedad: Los mensajes deben ser claros y directos, evitando el uso excesivo de tecnicismos si no es necesario."/>  
                    <Techniques subtitle="Escucha Activa" description="Presta atención completa: Escucha sin interrupciones y haz preguntas cuando algo no quede claro."/>  
                    <Techniques subtitle="Retroalimentación Constructiva" description="Ofrece retroalimentación específica: Señala comportamientos o resultados específicos y proporciona sugerencias claras para mejorar."/> 
                    <Techniques subtitle="Lenguaje Corporal" description="Postura abierta y receptiva: Evita cruzar los brazos o parecer distante, lo que podría interpretarse como falta de interés." />
                  </div>
                </div>
              </section>  
               
            <!-- Section Communication 2 -->  
            <section class="p-4 bg-[#1A1A1A]"> 
            
                <div class="flex justify-between items-center mb-8 mt-14">
                  <div class="w-1/2 flex flex-col justify-center ml-8">
                    <Techniques subtitle="Empatía y Asertividad" description="Sé empático: Trata de comprender las emociones y perspectivas de los demás. La empatía facilita la conexión y reduce malentendidos."/>  
                    <Techniques subtitle="Uso de la Tecnología" description="Herramientas colaborativas: Usa plataformas como Slack, Microsoft Teams o correos electrónicos para mantener la comunicación organizada, sobre todo en ambientes laborales o académicos."/>  
                    <Techniques subtitle="Evitar Barreras de Comunicación" description="Eliminar distracciones: Para una conversación efectiva, evita distracciones como el uso de teléfonos o interrupciones."/> 
                    <Techniques subtitle="Solicitar y Dar Confirmación" description="Pide retroalimentación: Pregunta si lo que comunicaste fue entendido de la manera que esperabas." />
                  </div>
                  <div class="w-1/2 ml-20">
                    <img src="c2.png" alt="Communication" class="object-cover rounded-md" style="height: 800px; width: 600px;" />
                  </div> 
                </div>
            </section>  
              
        </main> 
        <Footer />
    </body>
</html>