---
import Header from "../components/Header.astro"; 
import Footer from "../components/Footer.astro"; 
import Head from "../components/Head.astro"; 
--- 
   
<html> 
    <Head  title="Responsability and etical digital"> 
    <Header />  
    <body> 
        <main> 
            
        </main>
    </body>
        
</html>