---
import Header from "../components/Header.astro"; 
import Footer from "../components/Footer.astro"; 
import Head from "../components/Head.astro";  
import Form from "../components/Form.astro";
--- 
 
<html>  
  <Head title="Etica y Responsabilidad Digital"/>  
    <body> 
        <Header />
        <main> 
       
      <!-- Section types information -->  
      <section class="p-4 bg-[#1A1A1A] min-h-screen">
        <div class="text-center mb-8">
          <h2 class="text-6xl font-koulen text-white mt-16">Sube tus actividades!!</h2>
        </div>  
         
        <Form />
      </section>  
       
      

        </main> 
        <Footer />
    </body>
     

</html>