---
import Header from "../components/Header.astro"; 
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro"; 
import Types from "../components/Types.astro"; 
import Home from "../components/Home.astro";
--- 
 
<html>  
    <Head title="Digital tools" />  
    <Header />  
    <body>  
        
        <main>  
          <!--Test the component from Home  --> 
          <Home title="¿Que son las herramientas digitales de comunicacion?", description="Las herramientas digitales de comunicación son aplicaciones o plataformas que permiten intercambiar información de forma sincrónica o asincrónica, facilitando la interacción y colaboración entre personas.", src="tools.png" />
             
            <!-- Section 1 -->     
             <section class="p-4 bg-[#2A2A2A]">  
                <div class="text-center mb-8">
                    <h2 class="text-6xl font-koulen text-white mt-16">TIPOS DE DE HERRAMIENTAS DIGITALES DE COMUNICACION</h2>
                  </div> 
                   
                <Types />
                 
               
             </section>
             
              
        </main> 
        <Footer />
    </body>
</html>