---
interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<li class="list-none flex p-1 bg-[#23262d] rounded-lg shadow-inner transition-all duration-600 ease-[cubic-bezier(0.22,1,0.36,1)] hover:bg-gradient-to-r hover:from-[#23262d] hover:to-[#444]">
  <a href={href} class="w-full text-white text-opacity-80 p-[calc(1.5rem-1px)] rounded-lg transition-all duration-600 ease-[cubic-bezier(0.22,1,0.36,1)]">
    <h2 class="text-xl mb-1 transition-colors duration-600 ease-[cubic-bezier(0.22,1,0.36,1)]">
      {title}
      <span>&rarr;</span>
    </h2>
    <p class="mt-2 mb-0">
      {body}
    </p>
  </a>
</li>
