<footer class="flex justify-between items-center p-4 bg-[#292929] text-white">
    <div>
      <p>Copyright 2024 Universidad Tecnologica de  
        Nezahualcoyotl</p>
    </div>
    <div>
      <img src="./public/logo.png" alt="Logo" class="h-10 w-20 mr-4" />
    </div>
  </footer>