<header class="flex justify-between items-center p-4 bg-[#292929] text-white">
  <div class="flex items-center">
    <img src="./public/logo.png" alt="Logo" class="h-10 w-20 mr-4" />
    <h1 class="text-xl font-koulen">Comunicacion y habilidades digitales</h1>  
  </div>
  <nav class="flex space-x-4">
    <a href="Home" class="flex items-center space-x-2">
      <i class="fas fa-home h-8 w-8 mt-4"></i>
      <span class="font-koulen">Home</span>
    </a>
    <a href="#link2" class="flex items-center space-x-2">
      <i class="fas fa-book h-8 w-8 mt-4"></i>
      <span class="font-koulen">Unidades</span>
    </a>
    <a href="#link3" class="flex items-center space-x-2">
      <i class="fas fa-folder h-8 w-8 mt-4"></i>
      <span class="font-koulen">Recursos</span>
    </a>
  </nav>
</header>